[submodule "sdk"]
	path = sdk
	url = git@gitlab.inria.fr:openvibe/sdk.git
[submodule "designer"]
	path = designer
	url = git@gitlab.inria.fr:openvibe/designer.git
[submodule "extras"]
	path = extras
	url = git@gitlab.inria.fr:openvibe/extras.git
